{% load static %}
<!DOCTYPE html>
<html lang="en">
  <heads>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <!--link rel="stylesheet" type="text/css" href="css/style6.css" /-->
      <link rel="stylesheet" href="{% static 'css/style6.css' %}">
    <title>Hello, world!</title>
  </heads>
  <body>
    <header>
      <div class="container"></div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light menu">
        <a class="navbar-brand" href="#"
          ><img src="images/mountain3.png" height="90" width="90" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"
                >Home <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
            <li class="nav-item"><a class="nav-link" href="#">World Map</a></li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Tickets
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Choose your destination</a>
                <a class="dropdown-item" href="#">Travel tips</a>
                <li class="nav-item">
                  <a class="nav-link" href="#">Contact</a>
                </li>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="content">
      <div class="container">
        <div class="slogan">
          <br>
          <h1>Take an Indoor <span>Adventure</span> Around the World</h1>
        </div>
      </div>
    </div>
<br>
    
    <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-ride="carousel"
    >
      <ol class="carousel-indicators">
        <li
          data-target="#carouselExampleIndicators"
          data-slide-to="0"
          class="active"
        ></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            class="d-block w-100"
            src="images/carousel1.jpg"
            width="1280"
            height="950"
            alt="First slide"
          />
        </div>
        <div class="carousel-item">
          <img
            class="d-block w-100"
            src="images/carousel2.jpg"
            width="1280"
            height="950"
            alt="Second slide"
          />
        </div>
        <div class="carousel-item">
          <img
            class="d-block w-100"
            src="images/carousel3.jpg"
            width="1580"
            height="950"
            alt="Third slide"
          />
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselExampleIndicators"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselExampleIndicators"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  
    <br />
    <div class="container">
    <div class="card-group">
  <div class="card">
    <img class="card-img-top" src="media/img7.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><a href="gallery"> Discover our Gallery</h5></a>
      <p class="card-text">“Remember that happiness is a way of travel – not a destination.”</p>
      <p class="card-text"><small class="text-muted"> -Roy M. Goodman</small></p>
    </div>
  </div>
<br>
<div class="card">
    <img class="card-img-top" src="images/img18.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><a href="form">Fill out the form </h5></a>
      <p class="card-text"> “The most beautiful in the world is, of course, the world itself.”</p>
      <p class="card-text"><small class="text-muted">– Wallace Stevens h</small></p>
    </div>
  </div>


<div class="card">
    <img class="card-img-top" src="images/img13.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><a href="story">Read our stories </h5></a>
      <p class="card-text">“Once a year, go someplace you’ve never been before.”</p>
      <p class="card-text"><small class="text-muted">– Dalai Lama </small></p>
    </div>
  </div>

<div class="card">
    <img class="card-img-top" src="images/img14.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"> <a href="new">Interesting Facts</h5></a>
      <p class="card-text">“Live life with no excuses, travel with no regret.”</p>
      <p class="card-text"><small class="text-muted">–Oscar Wilde </small></p>
    </div>
  </div>
</div>
    </div>
   <br>
   <br>
   <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Travelling</h1>
      <p class="lead">“We live in a wonderful world that is full of beauty, charm and adventure. There is no end to the adventures we can have if only we seek them with our eyes open.” – Jawaharial Nehru</p>
    </div>
  </div>
  <div class="container">

     <h5> The Most Visited Countries in the World</h5> 
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Destination</th>
        <th scope="col">Internatioal tourist arrivals 2018 </th>
        <th scope="col">Internatioal tourist arrivals 2017</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>France</td>
        <td>86.6 million visitors </td>
        <td>82.7 million visitors</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Spain</td>
        <td>81.68 million visitors</td>
        <td>75.3 million visitors</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>The United States</td>
        <td>76.9 million visitors</td>
        <td>76.4 million visitors</td>
      </tr>
    </tbody>
  </table>
  </div>

  <div class="card-columns">
      <div class="card p-3 text-right">
          <blockquote class="blockquote mb-0">
              <img class="card-img-top" src="images/bag1.jpg" alt="Card image cap">
              <h5 class="card-title"> Don't forget your Backpack!</h5>
            <p>If you travel frequently or if you’re planning a big trip, then it’s often better to go for something light and versatile (and possibly carry-on size), as you’ll want a bag that is always comfortable to carry</p>
            </p>
          
            
          </blockquote>
        </div>
    <div class="card">
      <img class="card-img-top" src="images/cam1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"> Your Camera!</h5>
        <p class="card-text">One of the most tempting times to invest in a new camera is just before you head off on a big trip abroad.

          Whether you’re looking for a pocketable smartphone upgrade or a way to upgrade your travel photography, there are lots of cameras that are built specifically for life on the road.</div>
    </div>
    
    <div class="card">
      <img class="card-img-top" src="images/map.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">If you were to travel around the world, which are the top 10 destinations you would visit?</h5>
        <p class="card-text"></p>
       
      </div>
    </div>
    
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">TRAVEL MORE!</h5>
        <p class="card-text">“To Travel is to Live” – Hans Christian Andersen</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img" src="images/mem.jpg" alt="Card image">
    </div>
    <div class="card p-3 text-right">
      <blockquote class="blockquote mb-0">
        <p>"Friends are the family you choose." Jess C. Scott</p>
        <img class="card-img" src="images/oop.jpg" alt="Card image">
        
          
          
          </small>
        </footer>
      </blockquote>
    </div>
    <div class="card">
      <div class="card-body">
          <h5 class="card-title">Good Company</h5>
          <p class="card-text">"Sweet is the memory of distant friends! Like the mellow rays of the departing sun, it falls tenderly, yet sadly, on the heart." Washington Irving</p>
        
          <img class="card-img" src="images/fr1.jpg" alt="Card image">
        
      </div>
    </div>

    <div class="card text">
      <div class="card-body">
        <p class="card-text">“Twenty years from now you will be more disappointed by the things that you didn’t do than by the ones you did do. So throw off the bowlines. Sail away from the safe harbor. Catch the trade winds in your sails. Explore. Dream. Discover.”― Mark Twain</p>
        
      </div>
    </div>
  </div>
  
<br>
<br>
    <!-- Footer -->
    <footer class="page-footer font-small mdb-color lighten-3 pt-4">
      <!-- Footer Links -->
      <div class="container text-center text-md-left">
        <!-- Grid row -->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
            <!-- Content -->
            <h6 class="font-weight-bold text-uppercase mb-4">
              Wanderlust Destinations
            </h6>
            <p>
              Explore and discover Canada Hong Kong and Macao Adventurous
              Slovenia Sydney and New South Wales Catalonia and Barcelona
              Discover Belize.
            </p>
          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none" />

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
            <!-- Links -->
            <h6 class="font-weight-bold text-uppercase mb-4">About</h6>

            <ul class="list-unstyled">
              <li>
                <p><a href="#!">PROJECTS</a></p>
              </li>
              <li>
                <p><a href="#!">ABOUT US</a></p>
              </li>
              <li>
                <p><a href="#!">BLOG</a></p>
              </li>
              
            </ul>
          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none" />

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
            <!-- Contact details -->
            <h6 class="font-weight-bold text-uppercase mb-4">Address</h6>

            <ul class="list-unstyled">
              <li>
                <p><i class="fa fa-home mr-3"></i> New York, NY 10012, US</p>
              </li>
              <li>
                <p><i class="fa fa-envelope mr-3"></i> info@example.com</p>
              </li>
              <li>
                <p><i class="fa fa-phone mr-3"></i> + 01 234 567 88</p>
              </li>
              
            </ul>
          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none" />

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 text-center mx-auto my-4">
            <!-- Social buttons -->
            <h6 class="font-weight-bold text-uppercase mb-4">Follow Us</h6>

            <!-- Facebook -->
            <a type="button" class="btn-floating btn-fb">
              <i class="fa fa-facebook"></i>
            </a>
            <!-- Twitter -->
            <a type="button" class="btn-floating btn-tw">
              <i class="fa fa-twitter"></i>
            </a>
            <!-- Google + -->
            <a type="button" class="btn-floating btn-gplus">
              <i class="fa fa-google-plus"></i>
            </a>
            <!-- Dribbble -->
            <a type="button" class="btn-floating btn-dribbble">
              <i class="fa fa-dribbble"></i>
            </a>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
      <!-- Footer Links -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">
        © 2018 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/">
          MDBootstrap.com</a
        >
      
      <!-- Copyright -->
    </footer>
<br>
<br>
    
    <!-- Footer -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
